<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.csaudeinterop</package>
	<author>C-Saúde</author>
	<description>
		${project.parent.description}
	</description>

	<activator>org.openmrs.module.csaudeinterop.CsaudeInteropActivator
	</activator>

	<require_version>2.6.6</require_version>

	<require_modules>
		<require_module version="2.41.0">org.openmrs.module.webservices.rest
		</require_module>
	</require_modules>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>pt</lang>
		<file>messages_pt.properties</file>
	</messages>
</module>
